body{
    font-family: 'Open Sans', sans-serif;
    background-color: #232828;
    color: #ffffff;
}

.corpo{
    margin: 0 auto;
    width: 960px;
}

h1, h2, h3{
 font-family: 'Times New Roman', Times, serif;
 font-size: 30px;
 font-weight: bold;
 color: #DC3D24;
 margin-top: 3px;
 margin-bottom: 5px;
}

h2{ font-size: 20px;  }

h3{ font-size: 20px; }

a{color: #E3AE57}
header, footer, .redes-sociais, .tecnologias{
    text-align: center;
}
.mail{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-left: 21px;
    background-image: url(img/email.png);
    background-repeat: no-repeat; text-align: left;
}

.telefone{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-left: 21px;
    background-image: url(img/telefone.png);
    background-repeat: no-repeat;text-align: left;
}

.redes-sociais li{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: 7000px;
}

.redes-sociais li a{
    display: block;
    width: 40px;
    height: 40px;
}

.ico-facebook{
    width: 40px;
    height: 40px;
    background-image: url(img/facebook.png);
    background-repeat: no-repeat;
}

.ico-github{
    width: 40px;
    height: 40px;
    background-image: url(img/github.png);
    background-repeat: no-repeat;
}

.ico-devcard{
    width: 40px;
    height: 40px;
    background-image: url(img/devcard.png);
    background-repeat: no-repeat;
}